@charset "UTF-8";

@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SUITE-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-ExtraBold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.nav-link, .navbar-brand {
    font-family: SUITE-ExtraBold ;
}

div {
    font-family: SUITE-Regular;
}

.btn-primary {
    background-color: rgb(122, 107, 107);
    border-color: rgb(122, 107, 107);
}

.btn-primary:active {
    background-color: rgb(75, 67, 67) !important;
    border-color: rgb(75, 67, 67) !important;
}

.btn-primary:hover {
    background-color: rgb(75, 67, 67);
    border-color: rgb(75, 67, 67);
}

/*sweetalert2 폰트 변경*/
.swal2-popup {
    font-family: SUITE-Regular;
}

.navbar-collapse {
    flex-direction: row-reverse;
}