<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.postcard.toyou.dao.MemberMapper">

    <select id="selectDupId" parameterType="java.util.ArrayList">
        select id from member where id=#{id}
    </select>

    <insert id="register" parameterType="com.postcard.toyou.model.MemberModel">
        insert into member (id, pw, name, tel, email, address, addressdetail, birth) values (#{id}, #{pw}, #{name}, #{tel}, #{email}, #{address}, #{addressDetail}, #{birth})
    </insert>

    <insert id="snsRegister" parameterType="com.postcard.toyou.model.MemberModel">
        insert into member (id, name, tel, email, address, addressdetail, birth) values (#{id}, #{name}, #{tel}, #{email}, #{address}, #{addressDetail}, #{birth})
    </insert>

    <select id="login" parameterType="com.postcard.toyou.model.MemberModel" resultType="com.postcard.toyou.model.MemberModel">
        select * from member where id=#{id} and deletedate is null
    </select>

    <update id="updateProfile" parameterType="com.postcard.toyou.model.MemberModel">
        update member
            set name=#{name},
                tel=#{tel},
                email=#{email},
                address=#{address},
                addressdetail=#{addressDetail},
                birth=#{birth}
        where id=#{id}
    </update>

    <update id="updatePw" parameterType="com.postcard.toyou.model.MemberModel">
        update member
            set pw=#{pw}
        where id=#{id}
    </update>

    <update id="deleteAccount" parameterType="java.lang.String">
        update member
            set deletedate=default
        where id=#{id}
    </update>

</mapper>