<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.postcard.toyou.dao.MemberMapper">

    <select id="selectRejoin" parameterType="java.util.ArrayList">
        <![CDATA[
            select m_id from member where m_id=#{id} and deletedate is not null
        ]]>
    </select>

    <select id="selectDupId" parameterType="java.util.ArrayList">
        <![CDATA[
            select m_id from member where m_id=#{id} and deletedate is null
        ]]>
    </select>

    <select id="selectDupName" parameterType="java.util.ArrayList">
        <![CDATA[
            select name from member where name=#{name} and deletedate is null
        ]]>
    </select>

    <insert id="register" parameterType="com.postcard.toyou.model.MemberModel">
        <![CDATA[
            insert into member (m_id, pw, name, tel, email, address, addressdetail, birth) values (#{id}, #{pw}, #{name}, #{tel}, #{email}, #{address}, #{addressDetail}, #{birth})
        ]]>
    </insert>

    <insert id="snsRegister" parameterType="com.postcard.toyou.model.MemberModel">
        <![CDATA[
            insert into member (m_id, name, tel, email, address, addressdetail, birth) values (#{id}, #{name}, #{tel}, #{email}, #{address}, #{addressDetail}, #{birth})
        ]]>
    </insert>

    <select id="login" parameterType="com.postcard.toyou.model.MemberModel" resultType="com.postcard.toyou.model.MemberModel">
        <![CDATA[
            select * from member where m_id=#{id} and deletedate is null
        ]]>
    </select>

    <update id="updateProfile" parameterType="com.postcard.toyou.model.MemberModel">
        <![CDATA[
            update member
                set name=#{name},
                    tel=#{tel},
                    email=#{email},
                    address=#{address},
                    addressdetail=#{addressDetail},
                    birth=#{birth}
            where m_id=#{id}
        ]]>
    </update>

    <update id="updatePw" parameterType="com.postcard.toyou.model.MemberModel">
        <![CDATA[
            update member
                set pw=#{pw}
            where m_id=#{id}
        ]]>
    </update>

    <update id="deleteAccount" parameterType="java.lang.String">
        <![CDATA[
            update member
                set deletedate=default
            where m_id=#{id}
        ]]>
    </update>

    <select id="getName">
        <![CDATA[
            select name from member where m_id=#{id} and deletedate is null
        ]]>
    </select>

</mapper>