<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.postcard.toyou.dao.PaperMapper">

    <select id="isUnique" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) as cnt from paper where code=#{code};
    </select>

    <insert id="create" parameterType="com.postcard.toyou.model.PaperModel">
        insert into paper(m_seq, title, bgcolor, pccolor, pcborderpx, pcbcolor, pcbradiuspx, code)
            values(#{m_seq}, #{title}, #{bgColor}, #{pcColor}, #{pcBorderPx}, #{pcbColor}, #{pcbRadiusPx}, #{code})
    </insert>

    <select id="getList" parameterType="java.lang.Integer" resultType="com.postcard.toyou.model.PaperModel">
        select * from paper where m_seq=#{m_seq}
    </select>

    <select id="getCnt" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from postcard where pcc_seq=#{seq}
    </select>

    <select id="getPaper" parameterType="java.lang.Integer" resultType="com.postcard.toyou.model.PaperModel">
        select * from paper where code=#{code}
    </select>

</mapper>

