<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.postcard.toyou.dao.PaperMapper">

    <select id="isUnique" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        <![CDATA[
            select
                count(*) as cnt
            from paper
                where code=#{code}
                and is_deleted='N'
        ]]>
    </select>

    <select id="create" parameterType="com.postcard.toyou.model.PaperModel" resultType="java.lang.Integer">
        <![CDATA[
            insert into paper(m_id, title, bgcolor, pccolor, pcborderpx, pcbcolor, pcbradiuspx, code)
                values(#{id}, #{title}, #{bgColor}, #{pcColor}, #{pcBorderPx}, #{pcbColor}, #{pcbRadiusPx}, #{code})
            returning pcc_seq
        ]]>
    </select>

    <select id="getList" parameterType="java.lang.String" resultType="com.postcard.toyou.model.PaperModel">
        <![CDATA[
            select
                pcc_seq,
                bgcolor,
                pccolor,
                pcbcolor,
                pcborderpx,
                pcbradiuspx,
                title,
                code,
                regdate,
                m_id
            from paper
                where m_id=#{id}
                and is_deleted='N'
            order by regdate
        ]]>
    </select>

    <select id="getCnt" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        <![CDATA[
            select
                count(*)
            from postcard
                where pcc_seq=#{seq}
                and is_deleted='N'
        ]]>
    </select>

    <select id="getPaper" parameterType="java.lang.Integer" resultType="com.postcard.toyou.model.PaperModel">
        <![CDATA[
            select
                pcc_seq,
                bgcolor,
                pccolor,
                pcbcolor,
                pcborderpx,
                pcbradiuspx,
                title,
                code,
                regdate,
                m_id
            from paper
                where code=#{code}
                and is_deleted='N'
        ]]>
    </select>

    <update id="deletePaper" parameterType="java.lang.Integer">
        <![CDATA[
            update paper
                set is_deleted='Y'
            where pcc_seq=#{pcc_seq}
        ]]>
    </update>

</mapper>

