<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.postcard.toyou.dao.PostcardMapper">

    <select id="getList" parameterType="java.lang.Integer" resultType="com.postcard.toyou.model.PostcardModel">
        <![CDATA[
            select * from postcard where isdelete='N' and pcc_seq=#{pccSeq} order by regdate
        ]]>
    </select>

    <insert id="writePostcard" parameterType="com.postcard.toyou.model.PostcardModel">
        <![CDATA[
            insert into postcard (content, pcc_seq, textcolor)
                values (#{content}, #{pcc_seq}, #{textColor})
        ]]>
    </insert>

    <update id="deletePostcard" parameterType="java.lang.Integer">
        <![CDATA[
            update postcard set isdelete='Y' where pc_seq=#{pc_seq}
        ]]>
    </update>

    <update id="deleteAllPostcards" parameterType="java.lang.Integer">
        <![CDATA[
            update postcard set isdelete='Y' where pcc_seq=#{pcc_seq}
        ]]>
    </update>

</mapper>