<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.postcard.toyou.dao.TreasureBoxMapper">

    <select id="registPost" parameterType="com.postcard.toyou.model.TreasureBoxModel" resultType="java.lang.Integer">
        <![CDATA[
            insert into treasurebox (title, content, m_id)
                values (#{title}, #{content}, #{m_id})
            returning b_seq
        ]]>
    </select>

    <insert id="registPic" parameterType="com.postcard.toyou.model.TbPicModel">
        <![CDATA[
            insert into tbpic (pic_url, pic_name, b_seq)
                values (#{pic_url}, #{pic_name}, #{b_seq})
        ]]>
    </insert>

    <select id="getPostList" parameterType="java.lang.Integer" resultType="com.postcard.toyou.model.TreasureBoxModel">
        <![CDATA[
            select
                b_seq,
                title,
                content,
                regdate,
                hit,
                m_id
            from treasurebox
                where is_deleted='N'
        ]]>
        <if test="selectedOption == 1">
            order by regdate desc
        </if>
        <if test="selectedOption == 2">
            order by regdate asc
        </if>
    </select>

    <insert id="registComment" parameterType="com.postcard.toyou.model.TbCommentModel">
        <![CDATA[
            insert into tbcomment (content, b_seq, m_id)
                values (#{content}, #{b_seq}, #{m_id})
        ]]>
    </insert>

    <select id="getCommentList" parameterType="java.lang.Integer" resultType="com.postcard.toyou.model.TbCommentModel">
        <![CDATA[
            select
                c_seq,
                content,
                regdate,
                b_seq,
                m_id
            from tbcomment
                where b_seq=#{seq}
                and is_deleted='N'
            order by regdate asc
        ]]>
    </select>

    <update id="increaseHit" parameterType="java.lang.Integer">
        <![CDATA[
            update treasurebox
                set hit=hit+1
            where b_seq=#{seq}
        ]]>
    </update>

    <update id="deletePost" parameterType="java.lang.Integer">
        <![CDATA[
            update treasurebox
                set is_deleted='Y'
            where b_seq=#{seq}
        ]]>
    </update>

    <update id="deleteComment" parameterType="java.lang.Integer">
        <![CDATA[
            update tbcomment
                set is_deleted='Y'
            where b_seq=#{seq}
        ]]>
    </update>



</mapper>