<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.postcard.toyou.dao.TreasureBoxMapper">

    <select id="registWriting" parameterType="com.postcard.toyou.model.TreasureBoxModel" resultType="java.lang.Integer">
        <![CDATA[
            insert into treasurebox (title, content, m_id)
            values (#{title}, #{content}, #{m_id})
            returning b_seq
        ]]>
    </select>

    <insert id="registPic" parameterType="com.postcard.toyou.model.TbPicModel">
        <![CDATA[
            insert into tbpic (pic_url, pic_name, b_seq)
                values (#{pic_url}, #{pic_name}, #{b_seq})
        ]]>
    </insert>

</mapper>