<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.postcard.toyou.dao.TreasureBoxMapper">

    <select id="registPost" parameterType="com.postcard.toyou.model.TreasureBoxModel" resultType="int">
        <![CDATA[
            insert into treasurebox (title, content, m_id)
                values (#{title}, #{content}, #{m_id})
            returning b_seq
        ]]>
    </select>

    <update id="editPost" parameterType="com.postcard.toyou.model.TreasureBoxModel">
        <![CDATA[
            update treasurebox
                set title=#{title},
                    content=#{content}
            where b_seq=#{b_seq}
        ]]>
    </update>

    <insert id="registPic" parameterType="com.postcard.toyou.model.TbPicModel">
        <![CDATA[
            insert into tbpic (pic_url, pic_name, b_seq)
                values (#{pic_url}, #{pic_name}, #{b_seq})
        ]]>
    </insert>

    <delete id="deletePostPic" parameterType="java.lang.String">
        <![CDATA[
            delete from
                tbpic
            where pic_url=#{url}
        ]]>
    </delete>

    <select id="getPostList" resultType="com.postcard.toyou.model.TreasureBoxModel">
        <![CDATA[
            select
                b_seq,
                title,
                content,
                regdate,
                hit,
                m_id
            from treasurebox
                where is_deleted='N'
        ]]>
        <if test="search.searchOption == 1">
            and title like concat('%', #{search.searchKeyword}, '%' )
        </if>
        <if test="search.searchOption == 2">
            and content like concat('%', #{search.searchKeyword}, '%' )
        </if>
        <if test="search.searchOption == 3">
            and (title like concat('%', #{search.searchKeyword}, '%' ) or content like concat('%', #{search.searchKeyword}, '%' ))
        </if>
        <if test="search.searchOption == 4">
            and m_id like concat('%', #{search.searchKeyword}, '%' )
        </if>
        <if test="search.selectedOption == 1">
            order by regdate desc
        </if>
        <if test="search.selectedOption == 2">
            order by regdate asc
        </if>
        LIMIT #{page.size}
        OFFSET #{page.startRow}
    </select>

    <select id="getTotalPostCount" resultType="int">
        <![CDATA[
            select
                count(*) as cnt
            from treasurebox
                where is_deleted='N'
        ]]>
        <if test="searchOption == 1">
            and title like concat('%', #{searchKeyword}, '%' )
        </if>
        <if test="searchOption == 2">
            and content like concat('%', #{searchKeyword}, '%' )
        </if>
        <if test="searchOption == 3">
            and (title like concat('%', #{searchKeyword}, '%' ) or content like concat('%', #{searchKeyword}, '%' ))
        </if>
        <if test="searchOption == 4">
            and m_id like concat('%', #{searchKeyword}, '%' )
        </if>
    </select>

    <insert id="registComment" parameterType="com.postcard.toyou.model.TbCommentModel">
        <![CDATA[
            insert into tbcomment (content, b_seq, m_id)
                values (#{content}, #{b_seq}, #{m_id})
        ]]>
    </insert>

    <select id="getCommentList" parameterType="int" resultType="com.postcard.toyou.model.TbCommentModel">
        <![CDATA[
            select
                c_seq,
                content,
                regdate,
                b_seq,
                m_id
            from tbcomment
                where b_seq=#{seq}
                and is_deleted='N'
            order by regdate asc
        ]]>
    </select>

    <update id="increaseHit" parameterType="int">
        <![CDATA[
            update treasurebox
                set hit=hit+1
            where b_seq=#{seq}
        ]]>
    </update>

    <update id="deletePost" parameterType="int">
        <![CDATA[
            update treasurebox
                set is_deleted='Y'
            where b_seq=#{seq}
        ]]>
    </update>

    <update id="deleteComment" parameterType="int">
        <![CDATA[
            update tbcomment
                set is_deleted='Y'
            where b_seq=#{seq}
        ]]>
    </update>

    <update id="deleteReply" parameterType="int">
        <![CDATA[
            update tbcreply
                set is_deleted='Y'
            where c_seq=#{c_seq}
        ]]>
    </update>

    <select id="getContent" parameterType="int" resultType="java.lang.String">
        <![CDATA[
            select
                content
            from treasurebox
                where b_seq=#{seq}
        ]]>
    </select>

    <select id="getMyPostList" resultType="com.postcard.toyou.model.TreasureBoxModel">
        <![CDATA[
            select
                b_seq,
                title,
                content,
                regdate,
                hit,
                m_id
            from treasurebox
                where is_deleted='N'
                and m_id=#{id}
            order by regdate desc
            LIMIT #{page.size}
            OFFSET #{page.startRow}
        ]]>
    </select>

    <select id="getCommmentCnt" parameterType="int" resultType="int">
        <![CDATA[
            select
                count(*) as cnt
            from tbComment
                where is_deleted='N'
                and b_seq=#{seq}
        ]]>
    </select>

    <select id="getMyCommentList" resultType="com.postcard.toyou.model.TbCommentModel">
        <![CDATA[
            select
                c_seq,
                content,
                regdate,
                b_seq,
                m_id
            from tbComment
                where is_deleted='N'
                and m_id=#{id}
            order by regdate desc
            LIMIT #{page.size}
            OFFSET #{page.startRow}
        ]]>
    </select>

    <select id="getPost" parameterType="int" resultType="com.postcard.toyou.model.TreasureBoxModel">
        <![CDATA[
            select
                b_seq,
                title,
                content,
                regdate,
                hit,
                m_id
            from treasurebox
            where is_deleted='N'
              and b_seq=#{seq}
            order by regdate desc
        ]]>
    </select>

</mapper>